<!DOCTYPE html>

<head>
    <title>
        HOME PAGE
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="home.css">

    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js.cookie.min.js"></script>
    <script type="text/javascript" src="home.js"></script>
</head>

<body>
<!--<label for="login-username"></label><input id="login-username" type="text">-->
<!--<label for="login-password"></label><input type="text" id="login-password">-->
<!--<button type="submit" id="login-button">LOGIN</button>-->

<div id="user-info">#1 user1</div>

<div id="user-notes">
    <div class="note" id="note1">
        <div class="note_header">note title<button class="button_remove_note"></button></div>
        <div class="note body"> note text</div>
    </div>
    <div class="note" id="note2">
        <div class="note_header">note title</div>
        <div class="note body"> note text</div>
    </div>
    <div class="note" id="note3">
        <div class="note_header">note title</div>
        <div class="note body"> note text</div>
    </div>
    <div class="note" id="note4">
        <div class="note_header">note title</div>
        <div class="note body"> note text</div>
    </div>
</div>

</body>