<!DOCTYPE html>

<head>
    <title>
        LOGIN PAGE
    </title>
    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js.cookie.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>
    LOGIN
    <br>
    <label for="login-username">username:</label><input id="login-username" type="text">
    <br>
    <label for="login-password">password:</label><input type="text" id="login-password">
    <br>
    <button type="submit" id="login-button">LOGIN</button>
    <a href="reg.html">Sign Up</a>
</body>