<!DOCTYPE html>

<head>
    <title>
        REGISTER PAGE
    </title>
    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js.cookie.min.js"></script>
    <script type="text/javascript" src="reg.js"></script>
</head>

<body>
    SIGN UP
    <br>
    <label for="reg-username">username:</label><input id="reg-username" type="text">
    <br>
    <label for="reg-password">password:</label><input type="text" id="reg-password">
    <br>
    <button type="submit" id="reg-button">REGISTER</button>
    <a href="index.html">Sign In</a>
</body>